.container {
  text-align: center;
}

.col-l-6 {
  padding-top: 20px;
}

#session-element {
  padding: 9px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  background-color: #F0F0F0;
}

#break-session-element {
    padding: 9px;
  padding-bottom: 12px;
    padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  background-color: #F0F0F0;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: bolder;
}

.row {
  background-color: 
    #006699;
  
  padding-bottom: 20px;
}

h1, h2 {
  color: #fff;
}

